/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
}

section{
    padding: 4% 0;
}

h1, h2 {
    margin: 2% 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

.topsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

footer{
    background-color: orange;
    text-align: center;
    padding: 25px;
}

.bg-img{
    background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin: 4% 0;
}

.description{
    width: 200px;
    text-align: center;
    padding: 10px;
}

button{
    background-color: orange;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: orange;
    border: orange solid 1px;
}

button a{
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px){
    .row{
     flex-wrap: wrap;
    }
    .row img{
        width: 20%;
        align-items: center;
        justify-content: center;
    }
    .row div{
        width: 100%;
    }
    .row gallery{
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 500px){
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links button{
        width: 40%;
        margin: 1% 0;
    }
    .row{
        flex-wrap: wrap;
    }
    .row img{
        width: 40%;
    }
}