/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.topsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    background-color: orange;
    text-align: center;
    padding: 25px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.description{
    width: 200px;
    text-align: center;
    padding: 10px;
}

button{
    background-color: orange;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: orange;
    border: orange solid 1px;
}

button a{
    text-decoration: none;
    color: inherit;
}